body
            {
                 background-color: #225E24; 
            }
h1
            { 
                 color: #998c28;
                 text-align:center;
                 font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
label   
            {
                color: white;
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

            }
form
            {
                text-align: center;
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }